out/
repack*/
*.img
*.log
*.ko
*.o
*.cmd
*.mod.c
.tmp_versions/
Module.symvers
modules.order
*.dtb
*.dtbo
*.zip
feature_*_backup/
stable_*_checkpoint/
release_*_checkpoint/
gpu700_test_backup_from_672/
cpu1651_test_backup_from_1536_gpu672_zram/
*_backup*/
*_backups*/
feature_build_backup*/
checkpoint*/
stable_*_checkpoint/
release_*_checkpoint/
name_change_backup_galpd/
checkpoint_*.patch
*.patch
